.card_container {
  background-color: var(--color-primary);
  border-radius: 1.5rem;
  width: 100%;
  z-index: 5;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);

  display: flex;
  flex-direction: column;
  height: 50rem;
  max-width: 65rem;
}

.padding {
  margin-left: 4rem;
}

.blue_background {
  background-color: var(--color-secondary);
}

.info_container {
  transition: all .2s;
}

.info_container:active {
  transform: translateY(-2px);
  background-color: var(--color-secondary);
  color: white;
}

.info_container:active * {
  color: white !important;
}

.info_number {
  font-size: 10rem;
  margin-top: 2rem;
  color: black;
  display: inline-block !important;
}

.sub_number {
  display: inline-block !important;
  font-size: 3rem;
  margin-left: .5rem;
  color: var(--color-grey-light-1);
}

.info_number_blue {
  color: white;
}

.title_card_container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.line_divider {
  width: 75%;
  height: 2px; 
  margin-top: 3rem;
  background-color: white !important;
  background-color: #F6C334 !important;
}

.title {
  font-size: 3rem;
}

.message {
  font-size: 1.6rem;
  color: var(--color-grey-light-1);
  margin-top: 2rem;
}

.info_title {
  font-size: 5rem;
  margin-top: 5rem;
  color: var(--color-grey-light-1);
}

.info_title_blue {
  color: var(--color-primary);
}

.progress_bar {
  margin-top: 1.7rem;
  height: 7.4rem;
}

.info_description {
  font-size: 2.3rem;
  color: var(--color-grey-light-2);
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.info_description_blue {
  color: var(--color-grey-light-4);
}

@media (max-width: 500px) {
  .card_container {
    height: 40rem;
  }
}