.card_container {
  background-color: var(--color-primary);
  border-radius: 1.5rem;
  width: 100%;
  z-index: 5;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
  transition: all .2s;

  display: flex;
  flex-direction: column;
  height: max-content;
  max-width: 65rem;
}

.card_move_up {
  margin-top: -19rem;
}

.padding {
  margin-left: 4rem;
}

.card_container_blue {
  background-color: var(--color-secondary);
}

.card_container:active {
  transform: translateY(-2px);
}

.info_number {
  font-size: 10rem;
  margin-top: 2rem;
  color: var(--color-grey-light-1);
  display: inline-block !important;
}

.sub_number {
  display: inline-block !important;
  font-size: 3rem;
  margin-left: .5rem;
}

.info_number_blue {
  color: white;
}

.title_card_container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.line_divider {
  width: 75%;
  height: 2px; 
  margin-top: 3rem;
}

.title {
  font-size: 3rem;
}

.message {
  font-size: 1.6rem;
  color: var(--color-grey-light-1);
  margin-top: 2rem;
}

.info_title {
  font-size: 5rem;
  margin-top: 5rem;
  color: var(--color-grey-light-1);
}

.info_title_blue {
  color: white;
}

.progress_bar {
  margin-top: 1.7rem;
  height: 7.4rem;
}

.info_description {
  font-size: 2.3rem;
  color: var(--color-grey-light-2);
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.info_description_blue {
  color: var(--color-grey-light-5);
}

@media (max-width: 1100px) {
  .card_move_up {
    margin-top: 0;
  }
}


@media (max-width: 700px) {
  .card_move_up {
    margin-left: auto;
  }
}