.footer {
  background-color: var(--color-primary);
  height: 15rem;
  padding: 8rem 10rem;
  color: var(--color-grey-light-1);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  font-size: 1.8rem;
  color: inherit;
  font-weight: bold;
}

.copyright_name {
  color: var(--color-grey-light-2);
  margin-top: 1rem;
  line-height: 1.7;
  font-size: 1.5rem;
  width: 60%;
  max-width: 100rem;
}

.footer_list {
  font-size: 1.6rem;
  color: inherit;
  list-style: none;
  line-height: 1.7;
  white-space: pre;
}

.footer_link {
  transition: all .2s ease;
}

.footer_link:hover {
  transform: translateY(-2px);
}


/* 500px or down */
@media (max-width: 750px) {
  .copyright_name {
    width: 90%;
    max-width: 55rem;
  }

  .footer {
    flex-direction: column;
    padding: 5rem 3rem;
    height: unset;
    justify-content: none;
    align-items: flex-start;
  }

  .footer_list {
    padding: 0;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    font-weight: bold;
  }
}