html,
body {
  padding: 0;
  margin: 0;
  font-family: Averta CY, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, serif;
  height: 100%;
  font-size: 62.5%;
  background-color: var(--color-background);
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.react-datepicker-wrapper, .date_picker {
  display: inline-block !important;
  width: initial !important;
  padding-left: .9rem !important;
  padding-right: .9rem !important;
  font-size: 1.5rem;
  color: var(--color-grey-light-1);
}

.react-datepicker {
  font-size: 1em !important;
}

.react-datepicker__header {
  padding-top: 0.8em !important;
}

.react-datepicker__input-container>input {
  border-radius: 1.3rem;
  padding: .6rem 1.2rem;
  text-align: center;
  border: 1px var(--color-grey-light-3) solid;
  background-color: rgba(99, 148, 249, .1);
}

.react-datepicker__month {
  margin: 0.4em 1em !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em !important;
  line-height: 1.9em !important;
  margin: 0.166em !important;
}

.react-datepicker__current-month {
  font-size: 1em !important;
}

.react-datepicker__navigation--previous {
  border-right-color: #ccc !important;
  left: 1em !important;
}

.react-datepicker__navigation--next {
  border-left-color: #ccc !important;
}

.react-datepicker__time-list {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

@media (min-width: 1700px) {
  html {
    font-size: 75%;
  }
}

:root {
  --color-background: white;

  --color-primary: #F7F8FA;
  --color-secondary: #6394f9;
  --color-tertiary: #c9cacb;
  --color-quad: #2069fc;
  --color-fifth: #6f9efa;

  --color-grey-light-1: #4f4e4e;
  --color-grey-light-2: #787777;
  --color-grey-light-3: #acabab;
  --color-grey-light-4: #e1dfdf;
  --color-grey-light-5: #f5f4f4;

  --color-grey-dark-1: #1a1a1a;

  --nav-bar-width: 98%;
  --nav-bar-height: 50px;
  --nav-bar-background: #F8F8FA;
  --nav-bar-bubble-background: #EBEBED;
  --nav-bar-bubble-background-darker: #d9d9d9;
}

[data-theme='dark'] {
  --color-background: #0E131B;

  --color-primary: #171F28;
  --color-secondary: #1855ce;
  --color-tertiary: #c9cacb;
  --color-quad: #1855ce;
  --color-fifth: #598cf4;

  --color-grey-light-1: #e1dfdf;
  --color-grey-light-2: #acabab;
  --color-grey-light-3: #787777;
  --color-grey-light-4: #4f4e4e;
  --color-grey-light-5: #e1dfdf;
}