.color_legend_container {
  display: flex;
  gap: 2rem;
  white-space: pre;
  margin-bottom: 2rem;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.color_association {
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  color: white;
  display: inline;
  margin-top: 1.5rem;
}