.color_legend_container {
  display: flex;
  gap: 2rem;
  white-space: pre;
  margin-bottom: 2rem;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.color_association {
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  color: var(--color-primary);
  display: inline;
  margin-top: 1.5rem;
}

.datepicker_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.9rem;
  margin-top: 1.5rem;
  color: var(--color-grey-light-1);
  margin-left: 3rem;
}
