.main {
  padding-left: 28rem;
  width: 90%;
  max-width: 150rem;
}

.nav_top_container {
  padding-top: 3rem;
  font-size: 1.6rem;
}

.side_nav_container {
  position: fixed;
  left: 4rem;
  top: 30vh;
  opacity: 0;
  transition: all .3s ease;
}

.side_nav_container_show {
  opacity: 1;
}

.center_container {
  padding-top: 8rem;
}

.heading {
  font-size: 10rem;
  width: 37rem;
}

.sub_heading {
  font-size: 1.7rem;
  width: 37rem;
  color: var(--color-grey-light-2);
  font-weight: 400;
}

.card_container {
  display: grid;
  margin-top: 14rem;
  grid-template-columns: repeat(2, minmax(35rem, 1fr));
  gap: 8rem;
}

.map_container {
  width: 100%;
  height: 80vh;
  padding-top: 12rem;
}

.graph_container {
  padding-top: 6rem;
  margin-bottom: 8rem;
}

.graph_title_container {
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.table_container {
  margin-bottom: 10rem;
}

.table_title_container {
  margin-bottom: 3rem;
}

.sub_title {
  font-size: 7rem;
}

.description {
  margin-top: .7rem;
  font-size: 2.2rem;
  color: var(--color-grey-light-2)
}

/* 1100px or down */
@media (max-width: 1100px) {
  .card_container {
    gap: 2rem;
  }

  .main {
    padding-inline: 3rem;
    margin-inline: 0;
    width: 100%;
  }

  .side_nav_container {
    display: none;
  }

  .heading {
    width: 100%;
    text-align: center;
    font-size: 8rem;
  }

  .sub_heading {
    width: 90%;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.7rem;
  }

  .center_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .center_container>button {
    min-width: 18rem;
    font-size: 1.5rem;
  }
}

/* 800px or down */
@media (max-width: 800px) {
  .card_container {
    grid-template-columns: 45rem;
  }
}

/* 700px or down */
@media (max-width: 700px) {
  .side_nav_container {
    display: none;
  }

  .center_container {
    padding: 2rem;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading {
    margin-top: 4rem;
    font-size: 6rem;
  }
}

/* 500px or down */
@media (max-width: 500px) {
  .nav_top_container {
    font-size: 2rem;
    margin-left: 0;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
  }

  .main {
    width: 100%;
  }

  .card_container {
    grid-template-columns: 40rem;
    margin-top: 8rem;
  }

  .graph_container {
    width: 100%;
  }

  .center_container {
    width: 100%;
  }
}

@media (min-width: 2000px) {
  .center_container {
    max-width: 130rem;
    margin: 0 auto;
  }
}