.leaflet_tile_pane {
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}

.map_container {
  z-index: 1; 
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
}