.nav_container {
  color: var(--color-grey-light-1);
  position: fixed;
  left: 0;
  right: 0;
  top: 1rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: var(--nav-bar-width);
  background: var(--color-grey-light-5);
  border-radius: 10px;
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
  margin: 0;
  padding-inline: 2.2rem;
  justify-content: center;
}

.nav_title {
  font-size: 2.5rem;
  font-weight: 800;
  position: fixed;
  left: 4rem;
}

.inner_nav_bubble {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: inherit;
  background: var(--nav-bar-bubble-background);
  padding: 1rem .8rem;
  border-radius: 2.5rem;
}

.side_nav {
  height: 13rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-grey-light-1);
  justify-content: space-around;
}

.nav_link {
  padding: 0 0.63rem;
  font-size: 1.3rem;
  color: var(--color-grey-light-2);
}

.nav_link:hover {
  color: var(--color-grey-dark-1);
  cursor: pointer;
}

.theme_picker {
  background-color: transparent;
  border: none;
  color: var(--color-grey-light-1);
  margin-bottom: .2rem;
  transform: translateX(-.5rem);
  overflow: visible;
  height: 2rem;
  display: flex;
}

.theme_picker:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .nav {
    width: 100%;
  }
}