.nav {
  width: 30%;
  list-style: none; 
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  color: var(--color-grey-light-1);
}

.side_nav {
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-grey-light-1);
}

.nav_link {
  white-space: pre;
  width: max-content;
  cursor: pointer;
  display: inline-block;
}

.nav_link:not(:last-child) {
  margin-right: 2.5rem;
}

.nav_link:hover {
  transition: .3s all;
  transform: translateY(-2px);
}

.theme_picker {
  background-color: transparent;
  border: none;
  color: var(--color-grey-light-1);
  margin-bottom: .2rem;
}

.theme_picker:hover {
  cursor: pointer;
}
