.podium_container {
  color: white;
  margin-top: 5rem;
}

.podium_container__cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.podium_container__title {
  color: var(--color-grey-light-1);
  font-size: 2.4rem;
  text-align: center;
}

.podium_card {
  background-color: var(--color-secondary);
  margin: 2rem;
  border-radius: 1.5rem;
  display: flex;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
}

.podium_card__number {
  font-size: 7em;
  padding: 2rem;
  align-self: center;
  font-weight: 400;
}

.podium_card__title {
  font-size: 8em;
  font-weight: 800;
}

.podium_card__line {
  background-color: var(--color-background);
  width: 1em;
}

.podium_card__container {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.podium_card__subtitle {
  font-size: 4em;
}

.podium_card__delay {
  font-size: 2em;
  white-space: pre;
  font-weight: 600;
}

.podium_card__route_name {
  font-size: 1.5em;
  margin-top: .2rem;
  text-align: left;
}

/* 1100px or down */
@media (max-width: 1000px) {
  .podium_container {
    display: flex;
    flex-direction: column;
  }
}