.serviceNameSelector_container {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
}

.serviceNameSelector {
  min-width: 10rem;
  padding: 1.2rem 1.8rem;
  font-size: 2rem;
  border: 2px solid var(--color-secondary);
  color: var(--color-grey-light-1);
  border-radius: 1rem;
  position: relative;
}

.autocompleteDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 28rem;
  overflow-y: auto;
  border: 2px solid var(--color-secondary);
  border-top: none;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  z-index: 2;
}

.autocompleteDropdown div {
  padding: 1.2rem 1.8rem;
  cursor: pointer;
  font-size: 2.2rem;
}

.autocompleteDropdown div:hover {
  background-color: #f5f5f5;
}

.loadServicesButton {
  border: 2px solid var(--color-secondary);
  color: var(--color-grey-light-1);
  border-radius: 1rem;
  font-size: 2.2rem;
  padding: .8em 1em;
  background-color: transparent;
  transition: all .2s;
  min-width: 19rem;
}

.loadServicesButton:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.loadServicesButton:active {
  transform: translateY(-1px);
}

.timeRangeSelector {
  border: 2px solid var(--color-secondary);
  color: var(--color-grey-light-1);
  border-radius: 1rem;
  font-size: 2.2rem;
  padding: .8em .6em;
}

.dataCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6rem;
  justify-content: center;
}

.dataCard {
  border: 2px solid var(--color-secondary);
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 1em;
  text-align: center;
}

.dataCardNumber {
  font-size: 2.2rem;
}

.dataCardTitle {
  font-size: 2.4rem;
  font-weight: bold;
}

.dataCardDescription {
  margin-top: .5em;
  margin-bottom: .5em;
  color: var(--color-grey-light-2);
}


@media (max-width: 600px) {
  .serviceNameSelector_container {
    justify-content: center;
  }
}